In [1]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from pathlib import Path
from data_scripts import *
import pandas as pd


NUM_SIMS = 3
CONVERGED = False
USE_SIMULATED_TIME = False

In [2]:
data = {
    "Standard exploration": load_data("poro_eps_default", n_newest=NUM_SIMS),
    "No exploration": load_data("poro_eps0", n_newest=NUM_SIMS),
    "More exploration": load_data("poro_eps_big", n_newest=NUM_SIMS),
    # "Random": load_data()
    # "GP": load_data("poro_gp", n_newest=NUM_SIMS),
}

times_dict = dict()
for name, values in data.items():
    times_dict[name] = []
    for perf in values:
        res = np.sum(
            sum_per_time_step(
                make_solve_linear_system_time(perf, converged=CONVERGED),
                perf,
                converged=CONVERGED,
            )
        )
        times_dict[name].append(res)


times = pd.DataFrame.from_dict(times_dict).T
new_data = {
    'Worst': times.max(axis=1),
    'Mean': times.mean(axis=1),
    'Best': times.min(axis=1),
}
df_mandel = pd.DataFrame.from_dict(new_data)
df_mandel

Loading data:
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps_default_5.npy
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps_default_6.npy
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps_default_7.npy

/home/firedrake/porepy/src/porepy/numerics/nonlinear/nonlinear_solvers.py:13: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import trange  # type: ignore

Loading data:
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps0_5.npy
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps0_6.npy
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps0_7.npy
Loading data:
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps_big_5.npy
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps_big_6.npy
/home/firedrake/solver_selector/examples/3_medium/performance/poro_eps_big_7.npy

                          Worst       Mean       Best
Standard exploration  65.468736  64.657903  64.126576
No exploration        68.755126  66.177716  64.189734
More exploration      64.994032  64.804783  64.474209

In [7]:
data = {
    "Standard exploration": load_data("thermal_eps_default", n_newest=NUM_SIMS),
    "No exploration": load_data("thermal_eps0", n_newest=NUM_SIMS),
    "More exploration": load_data("thermal_eps_big", n_newest=NUM_SIMS),
    "Random": load_data('../1/thermal_random', n_newest=NUM_SIMS)
    # "GP": load_data("thermal_gp", n_newest=NUM_SIMS),
}

times_dict = dict()
for name, values in data.items():
    times_dict[name] = []
    for perf in values:
        res = np.sum(
            sum_per_time_step(
                make_solve_linear_system_time(perf, converged=CONVERGED),
                perf,
                converged=CONVERGED,
            )
        )
        times_dict[name].append(res)


times = pd.DataFrame.from_dict(times_dict).T
new_data = {
    'Worst': times.max(axis=1),
    'Mean': times.mean(axis=1),
    'Best': times.min(axis=1),
}
df_thermal = pd.DataFrame.from_dict(new_data)
df_thermal

Loading data:
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps_default_5.npy
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps_default_6.npy
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps_default_7.npy
Loading data:
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps0_5.npy
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps0_6.npy
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps0_7.npy
Loading data:
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps_big_5.npy
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps_big_6.npy
/home/firedrake/solver_selector/examples/3_medium/performance/thermal_eps_big_7.npy
Loading data:
/home/firedrake/solver_selector/examples/3_medium/../1/performance/thermal_random_25.npy
/home/firedrake/solver_selector/examples/3_medium/../1/performance/thermal_random_26.npy
/home/firedrake/solver_selector/examples/3_medium/../1/performance/thermal_random_27.npy

                           Worst        Mean        Best
Standard exploration  106.871121   99.270255   95.067374
No exploration        109.610868  100.817661   94.493009
More exploration      100.789816   97.807806   95.739396
Random                115.199543  111.248201  107.385497

In [8]:
df = pd.concat((df_mandel, df_thermal), join='inner', axis=1, keys=("Mandel problem", "Thermal problem"))
df = df.style.highlight_min(axis=0, props="textbf:--rwrap;").format(precision=2)
df

In [5]:
print(df.to_latex())

\begin{tabular}{lrrrrrr}
 & \multicolumn{3}{r}{Mandel problem} & \multicolumn{3}{r}{Thermal problem} \\
 & Worst & Mean & Best & Worst & Mean & Best \\
Standard exploration & 65.47 & \textbf{64.66} & \textbf{64.13} & 106.87 & 99.27 & 95.07 \\
No exploration & 68.76 & 66.18 & 64.19 & 109.61 & 100.82 & \textbf{94.49} \\
More exploration & \textbf{64.99} & 64.80 & 64.47 & \textbf{100.79} & \textbf{97.81} & 95.74 \\
\end{tabular}

    \begin{tabular}{ l | rrr | rrr }
    \toprule
     & \multicolumn{3}{c}{Mandel problem} & \multicolumn{3}{c}{Thermal problem} \\
     & Worst & Mean & Best & Worst & Mean & Best \\
     \midrule
    Standard exploration & 30.30 & 30.01 & 29.83 & 77.06 & 75.84 & 73.67 \\
    No exploration & 29.03 & 28.61 & 28.38 & 75.49 & 73.96 & 73.04 \\
    More exploration & 29.20 & 28.97 & 28.80 & 73.61 & 72.74 & 71.66 \\
    GP & \textbf{28.72} & \textbf{28.50} & \textbf{28.35} & \textbf{69.01} & \textbf{67.86} & \textbf{66.46} \\
    \bottomrule
    \end{tabular}