In [2]:
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from pathlib import Path
from data_scripts import *
import pandas as pd


NUM_SIMS = 3
CONVERGED = False
USE_SIMULATED_TIME = False

In [3]:
data = {
    "Standard exploration": load_data("poro_eps_default", n_newest=NUM_SIMS),
    "No exploration": load_data("poro_eps0", n_newest=NUM_SIMS),
    "More exploration": load_data("poro_eps_big", n_newest=NUM_SIMS),
    # "GP": load_data("poro_gp", n_newest=NUM_SIMS),
}

times_dict = dict()
for name, values in data.items():
    times_dict[name] = []
    for perf in values:
        res = np.sum(
            sum_per_time_step(
                make_solve_linear_system_time(perf, converged=CONVERGED),
                perf,
                converged=CONVERGED,
            )
        )
        times_dict[name].append(res)


times = pd.DataFrame.from_dict(times_dict).T
new_data = {
    'Worst': times.max(axis=1),
    'Mean': times.mean(axis=1),
    'Best': times.min(axis=1),
}
df_mandel = pd.DataFrame.from_dict(new_data)
df_mandel

Loading data:
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps_default_0.npy
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps_default_1.npy
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps_default_2.npy

/home/firedrake/porepy/src/porepy/numerics/nonlinear/nonlinear_solvers.py:13: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import trange  # type: ignore

Loading data:
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps0_0.npy
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps0_1.npy
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps0_2.npy
Loading data:
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps_big_0.npy
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps_big_1.npy
/home/firedrake/solver_selector/examples/3.2/performance/poro_eps_big_2.npy

                          Worst       Mean       Best
Standard exploration  64.277225  63.687024  63.008836
No exploration        65.911992  63.921816  61.549182
More exploration      62.954762  62.748721  62.644331

In [6]:
data = {
    "Standard exploration": load_data("thermal_eps_default", n_newest=NUM_SIMS),
    "No exploration": load_data("thermal_eps0", n_newest=NUM_SIMS),
    "More exploration": load_data("thermal_eps_big", n_newest=NUM_SIMS),
    # "GP": load_data("thermal_gp", n_newest=NUM_SIMS),
}

times_dict = dict()
for name, values in data.items():
    times_dict[name] = []
    for perf in values:
        res = np.sum(
            sum_per_time_step(
                make_solve_linear_system_time(perf, converged=CONVERGED),
                perf,
                converged=CONVERGED,
            )
        )
        times_dict[name].append(res)


times = pd.DataFrame.from_dict(times_dict).T
new_data = {
    'Worst': times.max(axis=1),
    'Mean': times.mean(axis=1),
    'Best': times.min(axis=1),
}
df_thermal = pd.DataFrame.from_dict(new_data)
df_thermal

Loading data:
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps_default_0.npy
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps_default_1.npy
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps_default_2.npy
Loading data:
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps0_0.npy
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps0_1.npy
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps0_2.npy
Loading data:
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps_big_0.npy
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps_big_1.npy
/home/firedrake/solver_selector/examples/3.2/performance/thermal_eps_big_2.npy

                          Worst       Mean       Best
Standard exploration  96.777662  94.992776  92.931406
No exploration        94.252578  92.816674  91.397877
More exploration      98.351279  94.516957  89.261677

In [7]:
df = pd.concat((df_mandel, df_thermal), join='inner', axis=1, keys=("Mandel problem", "Thermal problem"))
df = df.style.highlight_min(axis=0, props="textbf:--rwrap;").format(precision=2)
df

In [8]:
print(df.to_latex())

\begin{tabular}{lrrrrrr}
 & \multicolumn{3}{r}{Mandel problem} & \multicolumn{3}{r}{Thermal problem} \\
 & Worst & Mean & Best & Worst & Mean & Best \\
Standard exploration & 64.28 & 63.69 & 63.01 & 96.78 & 94.99 & 92.93 \\
No exploration & 65.91 & 63.92 & \textbf{61.55} & \textbf{94.25} & \textbf{92.82} & 91.40 \\
More exploration & \textbf{62.95} & \textbf{62.75} & 62.64 & 98.35 & 94.52 & \textbf{89.26} \\
\end{tabular}

    \begin{tabular}{ l | rrr | rrr }
    \toprule
     & \multicolumn{3}{c}{Mandel problem} & \multicolumn{3}{c}{Thermal problem} \\
     & Worst & Mean & Best & Worst & Mean & Best \\
     \midrule
    Standard exploration & 30.30 & 30.01 & 29.83 & 77.06 & 75.84 & 73.67 \\
    No exploration & 29.03 & 28.61 & 28.38 & 75.49 & 73.96 & 73.04 \\
    More exploration & 29.20 & 28.97 & 28.80 & 73.61 & 72.74 & 71.66 \\
    GP & \textbf{28.72} & \textbf{28.50} & \textbf{28.35} & \textbf{69.01} & \textbf{67.86} & \textbf{66.46} \\
    \bottomrule
    \end{tabular}